:root {
  --Gridient: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  --secondary: #ffa3a3;
  --White: #fff;
  --Font-Color-1: #182d41;
  --Font-Color-2: #5c7f8a;
  --Light-Grey: #b3c9d0;
  --red-error: #d95959;
  --green-success: #01bfa5;
}

body {
  font-family: "Open Sans", sans-serif !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.secondary-color {
  color: var(--secondary);
}
.error-color {
  color: var(--red-error);
}
.font-color-1 {
  color: var(--Font-Color-1);
}
.font-color-2 {
  color: var(--Font-Color-2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #182d41;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-55 {
  width: 55%;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-80 {
  width: 80%;
}
.w-82 {
  width: 82%;
}
.w-90 {
  width: 90%;
}
.w-94 {
  width: 94%;
}
.pointer {
  cursor: pointer;
}
p {
  font-weight: 400;
  text-transform: capitalize;
}
.p1 {
  color: #5c7f8a;
  text-transform: capitalize;
  font-size: 16px;
}
.p2 {
  color: #5c7f8a;
  text-transform: capitalize;
  font-size: 14px;
}
.p3 {
  color: var(--Light-Grey);
  text-transform: capitalize;
  font-size: 12px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1c2d6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(193, 193, 193, 0.3);
  border-radius: 20px;
  border: 3px solid #ffffff;
}

/* Start Home */

.home-signin::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 24px;
  background: var(--Light-Grey);
  left: -10px;
  top: 8px;
}
.home-search input::placeholder {
  color: var(--Light-Grey);
}
/* Start cart */
.cart {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 450px;
  height: 730px;
  background-color: var(--White);
  overflow: auto;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  transition: opacity 0.8s;
}
.cart-header {
  border-bottom: 1px solid var(--Light-Grey);
}
.cart-header-img {
  width: 53px;
  height: 53px;
  background-color: #f1f8fb;
}
.cart-items {
  height: 400px;
  overflow-y: auto;
}
.cart-item {
  border-bottom: 1px solid rgba(179, 201, 208, 0.6);
}
.cart-item-img {
  width: 130px;
  height: 160px;
  background-color: #f1f8fb;
}
.view-cart {
  border-style: solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    135deg,
    #2868a3 0%,
    #3f91bd 39.06%,
    #61cee5 100%
  );
}
/* End cart */
header.all-categories {
  background-color: #f1f8fb;
}
nav#nav-pages {
  transition: opacity 0.3s;
}
.expand-allCategories-header {
  position: absolute;
  left: -100%;
  transition: all 0.3s ease;
}
.nav-link {
  color: var(--Font-Color-2) !important;
}
.active {
  color: var(--Font-Color-1) !important;
  font-weight: 500 !important;
}
.nav-allCategories {
  position: absolute;
  left: 0;
  z-index: 99999999;
  top: 160px;
  background: #fff;
  right: 0;
  box-shadow: 0px 61px 55px rgba(0, 0, 0, 0.16);
}
.nav-allCategories-hr {
  border-top: 1.5px solid rgba(179, 201, 208, 0.31);
  opacity: 1;
}
.nav-category::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  width: 1px;
  height: 100%;
  background-color: rgba(179, 201, 208, 0.31);
}
.nav-img {
  position: relative;
  width: 30px;
  height: 30px;
}
.nav-img::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: rgba(24, 45, 65, 0.15);
  z-index: -1;
}
.nav-support::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--Light-Grey);
}
/* Clothes */
.clothes-card {
  background: url(../imgs/home1.png) rgba(255, 163, 163, 0.15);
  background-position: 0% 50%;
}
.clothes-img > img,
.phone-img > img,
.beauty-products-img > img,
.grocey-img > img,
.explore-btn {
  transition: 0.7s;
}
.clothes-card:hover .clothes-img > img {
  transform: scale(1.1);
}
.clothes-card:hover .clothes-explore {
  background-color: #ff6f6f;
  font-size: 14px;
}
.percent {
  font-size: 26px;
}
.clothes,
.phone,
.beauty-products,
.grocey {
  right: 15px;
}
.clothes-img::before,
.phone-img::before,
.beauty-products-img::before,
.grocey-img::before {
  content: "";
  position: absolute;
  width: 138px;
  height: 120px;
  top: 25%;
  right: 20px;
  z-index: -1;
  border-radius: 50%;
}
.clothes-img::before {
  background-color: #fcc;
}
.phone-img::before {
  top: 12%;
  height: 130px;
  background-color: #d1e3ee;
}
.beauty-products-img::before {
  top: 15px;
  right: 30px;
  width: 135px;
  height: 140px;
  background-color: #e9e7cd;
}
.grocey-img::before {
  top: 12px;
  right: 20px;
  width: 135px;
  height: 130px;
  background-color: #d4f0da;
}
.explore-btn {
  width: 143px;
  height: 48px;
  padding: 12px 38px;
  text-transform: uppercase;
  color: var(--White);
  cursor: pointer;
}
.clothes-explore {
  background-color: var(--secondary);
}

/* Phone  */
.phone-explore {
  background-color: #61cee5;
}
.phone-card {
  background: url(../imgs/home2.png),
    linear-gradient(
      150deg,
      rgb(40, 104, 163, 0.15) 0%,
      rgb(63, 145, 189, 0.15) 39.06%,
      rgb(97, 206, 229, 0.15) 100%
    );
  background-position: 0% 50%;
}
.phone-img {
  padding-right: 30px;
}
.phone-card:hover .phone-img > img {
  transform: scale(1.1);
}
.phone-card:hover .phone-explore {
  background-color: #39bcd8;
  font-size: 14px;
}
.phone-offer-number {
  color: #708a9b;
}
/* Beauty Products */
.beauty-products-card {
  background: url(../imgs/home3.png) rgba(255, 218, 122, 0.15);
  background-position: 0% 50%;
}
.beauty-products-card:hover .beauty-products-img > img {
  transform: scale(1.1);
}
.beauty-products-card:hover .beauty-products-explore {
  background-color: #c2be57;
  font-size: 14px;
}

.beauty-products-explore {
  background-color: #dcd88b;
}
.beauty-products-offer-number {
  color: #bebd9b;
}

/* grocey-card */
.grocey-card {
  background: url(../imgs/home4.png) rgba(1, 191, 165, 0.15);
}
.grocey-card:hover .grocey-img > img {
  transform: scale(1.1);
}
.grocey-card:hover .grocey-explore {
  background-color: #01bfa5;
  font-size: 14px;
}

.grocey-explore {
  background-color: #039f8a;
}
.grocey-offer-number {
  color: #8db596;
}

/* Start All Products */
.all-Products-crds {
  height: 90px;
}
.all-Products-crds > div > img {
  height: 75px;
}

.all-products:hover .overlay {
  height: 70%;
}
.all-products:hover .overlay::before {
  top: -14px;
  bottom: 0;
}
.beauty-text {
  transition: 0.7s ease;
}
.all-products:hover .beauty-text {
  color: var(--Font-Color-1) !important;
  font-weight: 600;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s ease;
  z-index: -2;
  overflow: hidden;
}
.overlay::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: 13px;
  left: 60px;
  z-index: -1;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.7s ease;
  background: rgba(24, 45, 65, 0.15);
}

.beauty {
  background: linear-gradient(135deg, #ffeed4 0%, #ffda7a 100%);
}
.kitchen {
  background: linear-gradient(105deg, #a0cddb 0%, #8dacc8 100%);
}
.grocery {
  background: linear-gradient(135deg, #d1ffe9 0%, #71e2ac 100%);
}
.furniture {
  background: linear-gradient(105deg, #f8f8f8 0%, #e3e2e0 100%);
}
.clothe {
  background: linear-gradient(135deg, #ffdeb8 0%, #fea2a2 100%);
}
.electronics {
  background: linear-gradient(135deg, #79e7f6 0%, #66bdec 100%);
}
.electronics-card,
.electronics-card-img,
.sale-card,
.sale-card-img {
  transition: 0.7s ease;
}
.electronics-card:hover,
.sale-card:hover {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}
.electronics-card:hover .electronics-card-img,
.sale-card:hover .sale-card-img {
  transform: translateY(-15px);
}
.show-all-arrow {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgb(40, 104, 163, 0.1) 0%,
    rgb(63, 145, 189, 0.1) 39.06%,
    rgb(97, 206, 229, 0.1) 100%
  );
  margin-left: 10px;
  color: rgba(92, 127, 138, 1);
  transition: 0.7s ease;
}
.show-all-btn {
  cursor: pointer;
}
.show-all-btn:hover .show-all-arrow {
  transform: translateX(10px);
}
.express-btn {
  width: fit-content;
  background-image: url(../imgs/express.svg);
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--White);
  text-transform: uppercase;
}
.blue-express {
  background: -webkit-linear-gradient(
    135deg,
    #2868a3 0%,
    #3f91bd 39.06%,
    #61cee5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.addToCart-btn {
  border: 1px solid rgba(179, 201, 208, 0.25);
  padding: 8px;
  width: 42px;
  height: 40px;
  cursor: pointer;
  transition: all 0.7s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.addToCart-btn:hover {
  width: 135px;
}
.sale-text {
  color: rgba(24, 45, 65, 0.5);
  text-decoration: line-through;
}
.sale-text-price {
  color: var(--Font-Color-2);
}
.sale-text-perceentage {
  color: var(--green-success);
}
.grocery-banner-2 {
  background-image: url(../imgs/HomeBanner2.png);
  background-position: 10% 50%;
}
.grocery-banner-2-p {
  font-size: 32px;
}
.subscribe > div {
  background: url(../imgs/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.35);
}
.subscribe-input input {
  border: 0;
  background-color: transparent;
}
.subscribe-input input {
  border: 0;
  outline: 0;
}
.subscribe-input input::placeholder {
  color: var(--White);
}
.subscribe-input input::-ms-placeholder {
  color: var(--White);
}
.subscribe-btn {
  background-color: var(--White);
  position: absolute;
  right: 0;
  top: -1px;
  height: calc(100% + 2px);
  cursor: pointer;
  transition: all 0.7s;
}
.subscribe-btn:hover {
  top: -10px;
  box-shadow: 0px 36px 56px 0px rgba(24, 45, 65, 0.1);
}
.selfcare {
  color: #bebd9b;
}
.news-letter {
  color: rgba(255, 163, 163, 1);
}
.payment-methods {
  margin-top: 32px;
  position: relative;
}
.payment-methods::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--Light-Grey);
  width: 30px;
  height: 2px;
}
.main-footer {
  background: rgb(179, 201, 208, 0.05);
}
.copy-right {
  background-color: rgba(179, 201, 208, 0.15);
  color: #7d7d7d;
}
/* End Home */

/* Start Login */
.login-logo {
  position: absolute;
  left: 50px;
  top: 50px;
}
a {
  text-decoration: none;
}
.dropdown-menu {
  min-width: fit-content !important;
  width: fit-content;
  margin: 0 !important;
  padding: 0 !important;
}
.btn.show,
.dropdown-toggle:focus {
  border: 0;
  outline: none;
}
.dropdown-menu li {
  text-align: center !important;
}
.login-form {
  background: url(../imgs/login-bg.png) rgba(241, 248, 251, 0.8);
  background-repeat: no-repeat;
}
.input {
  border-bottom: 1.5px solid rgba(179, 201, 208, 0.6);
}
.input > input {
  border: 0;
  background-color: transparent;
}
.input > input:focus {
  border: 0;
  outline: 0;
}
a.forget-password {
  background: -webkit-linear-gradient(
    135deg,
    #2868a3 0%,
    #3f91bd 39.06%,
    #61cee5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-btn,
.product-details-addToCart-btn {
  transition: 0.3s ease-in-out;
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  cursor: pointer;
}
.login-btn-text,
.product-details-addToCart-btn-text {
  color: var(--White);
  transition: 0.3s ease;
}
.login-btn:hover,
.product-details-addToCart-btn:hover {
  transform: translateY(-7px);
  background: var(--White);
  box-shadow: 0px 36px 56px 0px rgba(24, 45, 65, 0.1);
}
.login-btn:hover .login-btn-text,
.product-details-addToCart-btn:hover .product-details-addToCart-btn-text {
  /* color: red; */
  background: -webkit-linear-gradient(
    135deg,
    #2868a3 0%,
    #3f91bd 39.06%,
    #61cee5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-with-google-facebook,
.signup-with-google-facebook {
  border: 1px solid rgba(179, 201, 208, 0.5);
  cursor: pointer;
}
.login-with-google-facebook .google-icon {
  position: absolute;
  left: 20px;
}
/* End Login */

/* Start Sign Up */
.signup {
  background: url(../imgs/signup-bg.png);
}
.signup-img {
  background: url(../imgs/signup-img-bg.png);
}
/* End Sign Up */

/* Start Verification */
.forgetpassword-img {
  background: url(../imgs/verification-bg.png);
  background-repeat: no-repeat;
}
/* End Verification */

/* Start Otp */
.otp input[type="number"] {
  width: 74px;
  height: 50px;
}
.form-control {
  color: var(--Font-Color-2) !important;
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 1.5px solid rgba(179, 201, 208, 0.6) !important;
  border-radius: 0 !important;
}
.form-control:focus {
  box-shadow: none;
  border-bottom: 1.5px solid var(--Font-Color-1, #182d41) !important;
}
/* End Otp */

/* Start Shop */
.fillter input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
}

.fillter input[type="checkbox"]:before {
  content: "\2713";
  font-size: 12px;
  color: transparent !important;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(92, 127, 138, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked:before {
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  color: var(--White) !important;
}
.fillter {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--Light-Grey);
}
/* Start Filter Range */

.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  /* margin: 30px 0 35px; */
}
.field input {
  width: 100%;
  /* height: 100%; */
  outline: none;
  font-size: 18px;
  border: 0;
  border-bottom: 1.5px solid var(--Light-Grey);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background: var(--Light-Grey);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Support */
.support-box {
  top: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  display: block;
}
.b-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.b-btn.paypal i {
  color: blue;
}
.b-btn:hover {
  text-decoration: none;
  font-weight: bold;
}
.b-btn i {
  font-size: 20px;
  color: yellow;
  margin-top: 2rem;
}
/* End Filter Range */
/* End Shop */

/* Start Cart Page */
.cart-items-container {
  height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
}
.cart-items-header {
  border-top: 1.5px solid rgba(179, 201, 208, 0.5);
}
.all-cart-items {
  border: 1.5px solid rgba(179, 201, 208, 0.5);
  padding: 36px 0;
}
.continue-shoping {
  border-bottom: 1.5px solid rgba(179, 201, 208, 0.5);
}
.subtotal {
  border-top: 1.5px solid rgba(179, 201, 208, 0.5);
}
.delivery {
  border-bottom: 1.5px dashed rgba(179, 201, 208, 0.5);
}
.payment-summary .login-with-google-facebook .google-icon {
  left: 0;
}
/* End Cart Page */

/* Start About Us */
.about-header {
  height: 180px;
  background: url(../imgs/aboutHeader.png),
    linear-gradient(263deg, #f1f8fb 0%, rgba(241, 248, 251, 0) 55.67%);
  background-repeat: no-repeat;
}
.about-shop::before,
.about-customers::before,
.about-sales::before,
.business-owners::before,
.top-brands::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 90px;
  height: 2px;
  background-color: #ffa3a3;
}
.about-header-cards {
  /* border: 1px solid #B3C9D0; */
  border: 1px solid transparent;
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
    linear-gradient(0deg, #b3c9d0, #b3c9d0),
    linear-gradient(90deg, #b3c9d0, #b3c9d0),
    linear-gradient(270deg, #b3c9d0, #b3c9d0),
    linear-gradient(180deg, rgba(179, 201, 208, 0.1), rgba(179, 201, 208, 0.1));
  background-position: center center, left top, right top, left bottom,
    right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  /* transform: rotate(30deg); */
}
.about-header-cards-img {
  width: fit-content;
  border-radius: 50%;
  background: #f1f8fb;
}
.about-customers-img {
  right: -11%;
}
.about-customers-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 95%;
  margin: auto 0;
  width: 50%;
  background-color: #f1f8fb;
  z-index: -1;
}

/* End About Us */

/* Start Product Details */
.product-mini-img {
  width: 100px;
  height: 115px;
  border: 1.5px solid rgba(179, 201, 208, 0.25);
}
.product-main-img {
  padding: 107px 30px;
  border: 1.5px solid rgba(179, 201, 208, 0.25);
}
.produst-details-methods {
  height: 50px;
  border: 1px solid rgba(179, 201, 208, 0.5);
}
.product-details-similarProducts {
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-varient {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(179, 201, 208, 0.5);
  width: 90px;
  text-align: center;
  padding: 15px 0;
  color: var(--Font-Color-2);
}
.form-select {
  width: 80px;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  border-radius: 0;
}
.form-select:focus {
  outline: none;
  border-color: rgba(179, 201, 208, 0.5);
  outline: 0;
  box-shadow: none;
}
.add-to-wishlist {
  border: 1px solid rgba(179, 201, 208, 0.5);
}
/* End Product Details */

/* Start CheckOut */
.checkOut {
  background: url(../imgs/checkOut-bg.png), rgba(241, 248, 251, 0.6);
  margin-bottom: 60px;
}
.payment-method {
  height: 65px;
  cursor: pointer;
}
.payment-method-img {
  margin: 0 38px 0 0;
  transition: all 0.5s;
}
.payment-method:hover .payment-method-img {
  margin: 0 19px 0 19px;
}
.check-back-btn,
.check-next-btn {
  height: 48px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.check-back-btn {
  border: 1.5px solid rgba(179, 201, 208, 0.5);
  color: var(--Font-Color-2);
  font-weight: 600;
  transition: transform 0.5s;
}
.check-next-btn {
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  color: var(--White);
  transition: transform 0.5s;
}
.check-back-btn:hover,
.check-next-btn:hover {
  background: var(--White);
  transform: translateY(-10px);
  box-shadow: 0px 36px 56px 0px rgba(24, 45, 65, 0.1);
}
.check-back-btn:hover .check-back-btn-text,
.check-next-btn:hover .check-next-btn-text {
  background: -webkit-linear-gradient(
    135deg,
    #2868a3 0%,
    #3f91bd 39.06%,
    #61cee5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.order-review-item {
  background-color: var(--White);
}
.order-review-item-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 248, 251, 1);
}
.selected-item {
  width: 80px;
  height: 80px;
  background-color: var(--White);
  box-shadow: 0px 8px 24px 0px rgba(90, 140, 155, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}
.selected-item > span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-size: 12px;
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
}
.visa-img {
  padding-top: 100px;
  background: linear-gradient(
    135deg,
    rgb(40, 104, 163, 0.1) 0%,
    rgb(63, 145, 189, 0.1) 39.06%,
    rgb(97, 206, 229, 0.1) 100%
  );
}
.confirm-btn {
  border: 1.5px solid rgba(179, 201, 208, 0.5);
  transition: 0.5s;
  cursor: pointer;
}
.confirm-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0px 36px 56px 0px rgba(24, 45, 65, 0.1);
}
.form-check-input:focus {
  outline: none;
  box-shadow: unset !important;
}
/* End CheckOut */

/* Start Contact US */
.contactus-header {
  height: 180px;
  background: url(../imgs/contactusHeader.png),
    linear-gradient(263deg, #f1f8fb 0%, rgba(241, 248, 251, 0) 55.67%);
  background-repeat: no-repeat;
}
.input textarea {
  border: 0;
}
.input textarea:focus {
  outline: 0;
}
.send-message-btn {
  height: 48px;
  /* width: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(135deg, #2868a3 0%, #3f91bd 39.06%, #61cee5 100%);
  color: var(--White);
  transition: transform 0.5s;
}
.send-message-btn:hover {
  background: var(--White);
  transform: translateY(-10px);
  box-shadow: 0px 36px 56px 0px rgba(24, 45, 65, 0.1);
}
.send-message-btn:hover .send-message-text {
  background: -webkit-linear-gradient(
    135deg,
    #2868a3 0%,
    #3f91bd 39.06%,
    #61cee5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End Contact US */

/* Start Careers */
.careers-header {
  height: 180px;
  background: url(../imgs/careersHeader.png),
    linear-gradient(263deg, #f1f8fb 0%, rgba(241, 248, 251, 0) 55.67%);
  background-repeat: no-repeat;
}
.chooseFile {
  border: 1px solid var(--Light-Grey, #b3c9d0);
}
.drag-drop {
  border: 1px dashed rgba(179, 201, 208, 0.6);
  background: rgba(179, 201, 208, 0.05);
}
.inputDnD .form-control-file {
  position: relative;
  width: 100%;
  min-height: 6em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  color: var(--Font-Color-2);
}

.drag-drop-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.inputDnD .form-control-file::before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 25px;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: visible;
}
.careers-img-logo {
  position: absolute;
  top: 38px;
  left: 14px;
}
/* End Careers */

/* Strat Sell With Us */
.sellWithUs-header {
  height: 180px;
  background: url(../imgs/sellWithUsHeader.png),
    linear-gradient(263deg, #f1f8fb 0%, rgba(241, 248, 251, 0) 55.67%);
  background-repeat: no-repeat;
}
.sellWithUs-img-logo,
.shippingPartner-img-logo {
  position: absolute;
  bottom: 38px;
  left: 0;
  background: var(--Font-Color-2, #5c7f8a);
  padding: 10px;
}
textarea {
  resize: none;
}
.sellWithUs .send-message-btn {
  padding: 27px 0;
}
/* End Sell With Us */

/* Start Shipping Partner */
.shippingPartner-header {
  height: 180px;
  background: url(../imgs/shippingPartnerHeader.png),
    linear-gradient(263deg, #f1f8fb 0%, rgba(241, 248, 251, 0) 55.67%);
  background-repeat: no-repeat;
}
.shippingPartner-img-logo {
  padding-right: 24px;
}
/* End Shipping Partner */

/* Start Experts Recruiting */
.expertsRecruiting-header {
  height: 180px;
  background: url(../imgs/expertsRecruitingHeader.png),
    linear-gradient(263deg, #f1f8fb 0%, rgba(241, 248, 251, 0) 55.67%);
  background-repeat: no-repeat;
}
.shippingPartner-img-logo {
  padding-right: 24px;
}
.expertsRecruiting .send-message-btn {
  padding: 25px 0;
}
/* End Experts Recruiting */
